Current design is 'Top'.
Loading db file '/ncsu/synopsys2013/syn/libraries/syn/dw_foundation.sldb'
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Error: Cannot find the specified driving cell in memory.   (UID-993)
Error: Can't find lib_pin 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm/DFFR_X1/D'. (UID-109)
Error: Value for list '<library_cell_pin>' must have 1 elements. (CMD-036)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Error: Could not read the following target libraries:
NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db 
 (UIO-3)
Information: Checking out the license 'DesignWare'. (SEC-104)
Information: Evaluating DesignWare library utilization. (UISN-27)

============================================================================
| DesignWare Building Block Library  |         Version         | Available |
============================================================================
| Basic DW Building Blocks           | H-2013.03-DWBB_201303.2 |     *     |
| Licensed DW Building Blocks        | H-2013.03-DWBB_201303.2 |     *     |
============================================================================

Error: Could not read the following target libraries:
NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db 
 (UIO-3)
  Allocating blocks in 'dut_Controller'
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
  Allocating blocks in 'top_dut'
  Allocating blocks in 'dut_output_top/stage1'
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
  Allocating blocks in 'dut_output_top/stage2'
  Allocating blocks in 'dut_output_top/stage3'
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
  Allocating blocks in 'dut_output_top/stage5'
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
  Allocating blocks in 'top_dut/input_dut'
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Design 'input_pipeline' inherited license information from design 'DW_cmp'. (DDB-74)
Information: Added key list 'DesignWare' to design 'input_pipeline'. (DDB-72)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
  Allocating blocks in 'top_dut/CDF_dut/stage1'
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/pparch/9/generic_5019_8167_5818/element.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/pparch/9/generic_5019/8167_5818/mapped.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/apparch/9/generic_5019_8167_5818/element.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/apparch/9/generic_5019/8167_5818/mapped.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Design 'Cdf_Fetch' inherited license information from design 'DW_cmp'. (DDB-74)
Information: Added key list 'DesignWare' to design 'Cdf_Fetch'. (DDB-72)
  Allocating blocks in 'top_dut/CDF_dut/stage2'
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/pparch/20/generic_5019_8167_5818/element.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/pparch/20/generic_5019/8167_5818/mapped.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/apparch/20/generic_5019_8167_5818/element.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Information: The cache entry '/afs/unity.ncsu.edu/users/c/csjohns3/synopsys_cache_H-2013.03-SP2/DW01/DW_cmp/apparch/20/generic_5019/8167_5818/mapped.ddc'
	has been corrupted, so it is being removed. (DWSC-18)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
Warning: Design 'Cdf_Accumlate' inherited license information from design 'DW_cmp'. (DDB-74)
Information: Added key list 'DesignWare' to design 'Cdf_Accumlate'. (DDB-72)
  Allocating blocks in 'top_dut/CDF_dut/stage3'
  Allocating blocks in 'dut_output_top/stage4/divider/stage6'
  Allocating blocks in 'dut_output_top/stage4/divider/stage7'
  Transferring Design 'Controllor' to database 'Controllor.db'
  Transferring Design 'input_top' to database 'input_top.db'
  Transferring Design 'Output_Fetch_MEM' to database 'Output_Fetch_MEM.db'
  Transferring Design 'Output_Fetch_Cdf' to database 'Output_Fetch_Cdf.db'
  Transferring Design 'Output_TopExpression' to database 'Output_TopExpression.db'
  Transferring Design 'Output_Store' to database 'Output_Store.db'
  Transferring Design 'input_pipeline' to database 'input_pipeline.db'
  Transferring Design 'Cdf_Fetch' to database 'Cdf_Fetch.db'
  Transferring Design 'Cdf_Accumlate' to database 'Cdf_Accumlate.db'
  Transferring Design 'Cdf_Store' to database 'Cdf_Store.db'
  Transferring Design 'divider_pipe_stage' to database 'divider_pipe_stage.db'
  Transferring Design 'end_pipe_stage' to database 'end_pipe_stage.db'
Warning: Design 'Cdf_Accumlate' is being converted to a limited design. (DDB-75)
Warning: Design 'Cdf_Fetch' is being converted to a limited design. (DDB-75)
Warning: Design 'input_pipeline' is being converted to a limited design. (DDB-75)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)
 
****************************************
check_design summary:
Version:     H-2013.03-SP2
Date:        Tue Apr  8 12:53:46 2014
****************************************

                   Name                                            Total
--------------------------------------------------------------------------------
Inputs/Outputs                                                     24
    Unconnected ports (LINT-28)                                    10
    Feedthrough (LINT-29)                                           1
    Shorted outputs (LINT-31)                                       6
    Constant outputs (LINT-52)                                      7

Cells                                                               9
    Connected to power or ground (LINT-32)                          8
    Nets connected to multiple pins on same cell (LINT-33)          1
--------------------------------------------------------------------------------

Warning: In design 'Output_Store', port 'output_base_offset' is not connected to any nets. (LINT-28)
Warning: In design 'divider_pipe_stage', port 'q_in[7]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[6]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[5]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[4]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[3]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[2]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[1]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'divided[0]' is not connected to any nets. (LINT-28)
Warning: In design 'end_pipe_stage', port 'q_in[7]' is not connected to any nets. (LINT-28)
Warning: In design 'input_pipeline', input port 'inputBaseOffset' is connected directly to output port 'm2ReadAddr[15]'. (LINT-29)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to output port 'DataOut[8]'. (LINT-31)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to output port 'DataOut[9]'. (LINT-31)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to output port 'DataOut[10]'. (LINT-31)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to output port 'DataOut[11]'. (LINT-31)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to output port 'DataOut[12]'. (LINT-31)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to output port 'DataOut[13]'. (LINT-31)
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[7]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[6]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[5]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[4]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[3]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[2]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[1]' is connected to logic 0. 
Warning: In design 'pipeline_divider', a pin on submodule 'stage0' is connected to logic 1 or logic 0. (LINT-32)
   Pin 'q_in[0]' is connected to logic 0. 
Warning: In design 'pipeline_divider', the same net is connected to more than one pin on submodule 'stage0'. (LINT-33)
   Net '*Logic0*' is connected to pins 'q_in[7]', 'q_in[6]'', 'q_in[5]', 'q_in[4]', 'q_in[3]', 'q_in[2]', 'q_in[1]', 'q_in[0]'.
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[14]' is connected directly to 'logic 0'. (LINT-52)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[13]' is connected directly to 'logic 0'. (LINT-52)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[12]' is connected directly to 'logic 0'. (LINT-52)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[11]' is connected directly to 'logic 0'. (LINT-52)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[10]' is connected directly to 'logic 0'. (LINT-52)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[9]' is connected directly to 'logic 0'. (LINT-52)
Warning: In design 'Output_Fetch_MEM', output port 'DataOut[8]' is connected directly to 'logic 0'. (LINT-52)
Warning: Can't read link_library file 'NangateOpenCellLibrary_PDKv1_2_v2008_10_slow_nldm.db'. (UID-3)

  Linking design 'Top'
  Using the following designs and libraries:
  --------------------------------------------------------------------------
  dw_foundation.sldb (library)
                              /ncsu/synopsys2013/syn/libraries/syn/dw_foundation.sldb

1
